annotated-types
anyio
APScheduler
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dateparser
fastapi
filelock
Flask
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gspread
h11
httplib2
huggingface-hub
idna
ingest_utils
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
ngrok
numpy
oauth2client
oauthlib
packaging
pdfminer.six
pdfplumber
pillow
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
pyparsing
pypdfium2
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sniffio
soupsieve
SpeechRecognition
standard-aifc
standard-chunk
starlette
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
uvicorn
websockets
Werkzeug
